@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
  background-image: url("https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  /* filter: blur(1px); */
  /* -webkit-filter: blur(1px); */
  backdrop-filter: blur(3px);
  color: #c98600;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}
*{
  width: 100%;
  margin: auto;
  text-align: center;
}
.header{
  color: blueviolet;
}
.bookImg{
  width: 80rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  border-radius: 50px;

  
}

.carousel-caption{
  color: rgb(255, 171, 4);
  align-self: center;
  margin: auto;
  width: 50rem;
  margin-bottom: 5rem;
  font-weight: 500;
  backdrop-filter: blur(4px);
  border-radius: 30px;

}
.carousel-indicators{
  align-self: center;
  margin: auto;
  margin-bottom: 5rem;
}
